
/* common */

td.even {
	background-color: #e6f4ff;
	vertical-align: top;
	font-size: 12px;
	padding-top: 3px;
}

td.odd {
	background-color: #ddeeff;
	vertical-align: top;
	font-size: 12px;
	padding-top: 3px;
}

/* Kategorien: */
td.cat_even {
	background-color: #99bbdd;
	vertical-align: top;
	font-size: 12px;
	padding-top: 3px;
}

td.cat_odd {
	background-color: #89afd5;
	vertical-align: top;
	font-size: 12px;
	padding-top: 3px;
}

/* frame */

body {
	background-color: #ffffff;
}

table.frame_table {
	height: 100%;
}

table.table_login {
	height: 100%;
	width: 100%;
}

td.cell_login {
	vertical-align: middle;
	text-align: center;
}

/* Menu */
a.menu:active {
	color: #000000;
	font-family: verdana;
	text-decoration: none;
}

a.menu:link {
	color: #000000;
	text-decoration: none;
	font-family: verdana;
}

a.menu:visited {
	color: #000000;
	text-decoration: none;
	font-family: verdana;
}

a.menu:hover {
	color: #880000;
	text-decoration: none;
	font-family: verdana;
}

a.menu_inactive:active {
	color: #7D7D7D;
	font-family: verdana;
	text-decoration: none;
}

a.menu_inactive:link {
	color: #7D7D7D;
	text-decoration: none;
	font-family: verdana;
}

a.menu_inactive:visited {
	color: #7D7D7D;
	text-decoration: none;
	font-family: verdana;
}

a.menu_inactive:hover {
	color: #880000;
	text-decoration: none;
	font-family: verdana;
}

td.menu_cell {
	width: 200px;
	height: 100%;
	border-right: 1px solid #b6beda;
	vertical-align: top;
}

table.menu_table {
	width: 100%;
}

td.title_cell {
	heigth: 120px;
	vertical-align: top;
}

table.title_table {
	width: 100%;
}


td.optionbox {
	padding-top: 10px;
	text-align: right;
	border-top: 1px solid #b6beda;
}

td.errorbox {
	text-align: center;
	font-size: 12px;
	color: #AE1232;
}

/* content */
td.content_cell {
	vertical-align: top;
	width: 500px;
}

table.content_table {
	border: 1px solid #b6beda;
	width: 500px;
}

td.heading_cell {
	background-color: #D5DFFF;
	font-family: verdana;
	font-weight: bold;
	font-size: 12px;
	border-bottom: 1px solid #B6BEDA;
}

td.chapter_heading {
	background-color: #d5dfff;
	font-family: verdana;
	font-weight: bold;
	font-size: 12px;
	border-bottom: 1px solid #b6beda;
	border-top: 1px solid #b6beda;
	padding-top: 5px;
}

a.option:active {
	color: #000000;
	font-family: verdana;
	text-decoration: none;
	font-size: 10px;
}

a.option:link {
	color: #000000;
	text-decoration: none;
	font-family: verdana;
	font-size: 10px;
}

a.option:visited {
	color: #000000;
	text-decoration: none;
	font-family: verdana;
	font-size: 10px;
}

a.option:hover {
	color: #880000;
	text-decoration: none;
	font-family: verdana;
	font-size: 10px;
}

/*inputs*/
input.string {
	width: 300px;
	font-size: 10px;
}

textarea {
	width: 300px;
	font-size: 10px;
}

input.checkbox {
	font-size: 8px;
}

input.button {
	font-size: 12px;
	background-color: #d5dfff;
	border: 1px solid #d6deba;
}

select {
	font-size: 10px;
	width: 300px;
}

td.price-all {
	font-size: 14px;
	padding-top: 3px;
	background-color: #d5dfff;
	text-align: left;
	font-style: italic;
	font-weight: bold;
}

span.pre_comma {
	font-size: 20px;
	font-weight: bold;
}

span.post_comma {
	font-size: 10px;
	text-decoration:underline;
	vertical-align:super;
}
