<!-- Menüliste -->

<? include('../lang/lang_de.php');
   $LANG = $lang['user_till'];
 ?>

<table class="content_table" cellpadding="0" cellspacing="0">
	<TR>
		<TD class="chapter_heading" colspan="5">
		<?
		if(count($_TPL['basket_array_bid'])>0){
			echo $_LANG['your_basket'];
		?>
		</TD>
	</TR>
	<TR>
		<TD class="heading_cell">
			<?=$_LANG['count']?>
		</TD>
		<TD class="heading_cell">
			<?=$_LANG['product']?>
		</TD>
		<TD class="heading_cell">
			<?=$_LANG['price']?>
		</TD>
		<TD class="heading_cell">
			<?=$_LANG['price-total']?>
		</TD>
		<td class="heading_cell">
			&nbsp;
		</td>
	</TR>
	
	<? $i=-1;foreach ($_TPL['basket_array_bid'] as $bid) { ?>
	<? $i++;if ($i%2==0) {$class="odd";} else {$class="even";} ?>
	<TR>
		<TD class="<?=$class?>">
			<?=$_TPL['basket_array_count'][$i]?>
		</TD>
		<TD class="<?=$class?>">
			<a href="viewProduct.php?pID=<?=$_TPL['basket_array_pid'][$i]?>" class="menu">
				<?=$_TPL['basket_array_product'][$i]?>
			</a>
		</TD>
		<TD class="<?=$class?>">
			<?=formatPrice($_TPL['basket_array_single_prices'][$i])?>
		</TD>
		<TD class="<?=$class?>">
			<?=formatPrice($_TPL['basket_array_sum_prices'][$i])?>
		</TD>
		<td class="<?=$class?>">
			<a href='till.php?action=removeFromBasket&bID=<?=$bid?>' class='menu' ><?=$LANG['remove']?></a>
		</td>		
	</TR>
	<? } ?>
	
	<TR>
		<TD class="price-all" colspan="3">
			<?=$_LANG['price-total']?>
		</TD>
		<TD class="price-all">
			<?=formatPrice($_TPL['basket_array_sum_all'])?>
		</TD>
		<td class="price-all">
			&nbsp;
		</td>
	</tr>
		<?	if($_TPL['error']!= null){
					echo "
						<tr>
							<TD class='errorbox' colspan='5' id='errorbox'>
								".($_TPL['error_capacity']==1?$_LANG['capacity_exceeded_again']."<br/>":"").
								$_LANG['follow-up_stock_errors']."<br/><br/>
					";
					foreach ($_TPL['error'] AS $zeile){
						echo $zeile['product_name'].": ".$zeile['product_count']." ".$_LANG['pieces_in_basket'].", ".$_LANG['pieces_available'].": ".$zeile['product_stock'].							
						"<br/>";
					}
					echo "
								<br/>".$_LANG['please_remove']."						
							</td>
						</tr>
					";
				}
				else{
					echo"
						<tr>
							<td	class='optionbox' colspan='5'>
								<form name='agreeOrder' action='till.php' method='post'>
									<input name='action' type='hidden' value='agreeOrder'>
									<input name='userid' type='hidden' value='".$_TPL['user_id']."'>
									<input name='bids' type='hidden' value='".$_TPL['bids']."'>
									<input name='pids' type='hidden' value='".$_TPL['pids']."'>
									<input name='counts' type='hidden' value='".$_TPL['counts']."'>
									<input type='submit' class='button' value='".$LANG['agree_order']."'>	
								</form>
							</td>
						</tr>
					";
				}	
			}
			else{
				echo $_LANG['your_basket_is_empty'];
			}
		?>
		</td>
	</tr>
</table>