<!-- Titel-Frame -->

<? include('../lang/lang_de.php');
   $LANG = $lang['user_title']; ?>

<table class="title_table">
	<TR>
		<TD>
			<a href="../viewer/index.php"><img src="<?=$LANG['title_img']?>"></a>
		</TD>
	</TR>
	<TR>
		<TD>
			<? 
				echo
					$LANG['hello'].$_TPL['user_name']." ".$_TPL['user_lastname']."!
				";
				if($_TPL['is_admin']=="1"){	// wenn Admin-Rolle, dann Link zum Wechsel in Admin-Sicht anzeigen
					echo "
						<span style='position:relative; left: 100px;'>
							<a href='../admin/categories.php'>".$LANG['admin_level']."</a>
						</span>
					";
				}
			?>
		</TD>
	</TR>
</table>