<h1><?=$_LANG['viewProduct']?></h1>

<?
	// nur anzeigbar , falls aktiviert (und laut SQL-Abfrage auch nicht gelöscht) (gilt für jeden; Admin kann es mittels Edit einsehen)
	if($_TPL['active']=='1'){
?>
	<table class="content_table" cellpadding="0" cellspacing="0">
    <colgroup>
      <col class="content_table_1">
      <col class="content_table_2">
    </colgroup>
		<TR>
			<TD class="even">
				<?=$_LANG['name']?>
			</TD>
			<TD class="even">
				<?=$_TPL['name']?>
			</TD>
		</TR>
		<TR>
			<TD class="odd">
				<?=$_LANG['description']?>
			</TD>
			<TD class="odd">
				<?=$_TPL['description']?>
			</TD>
		</TR>
		<TR>
			<TD class="even">
				<?
					echo $_LANG['product_image'];
					if ($_TPL['image_small']!='' && strtolower($_TPL['image_small'])!='kein bild' && $_TPL['image_big']!='' && strtolower($_TPL['image_big'])!='kein bild') { 
						echo "<br/><br/>(".$_LANG['click_to_enlarge'].")";
					}
				?>
			</TD>
			<TD class="even">
				<? if ($_TPL['image_small']!='' && strtolower($_TPL['image_small'])!='kein bild' && $_TPL['image_big']!='' && strtolower($_TPL['image_big'])!='kein bild') { ?>
					<a href="javascript:showPicture('<?=$_TPL['image_big']?>');" title="<?=$_LANG['click_to_enlarge']?>"><img src="<?=$_TPL['image_small']?>" border='0'></a>
				<? 
					}
					elseif($_TPL['image_big']=='' || strtolower($_TPL['image_big'])=='kein bild'){?>
						<img src="<?=$_TPL['image_small']?>" border='0'>
					<?
					}
					else{
						echo $_LANG['no_image'];
					}
				 ?>
			</TD>
		</TR>
		<tr>
			<TD class="odd">
				<?=$_LANG['price']?>
			</TD>
			<TD class="odd">
				<?=formatPrice($_TPL['price'])?>
			</TD>
		</TR>
		<tr>
			<td class="cat_even">
				<?=$_LANG['piece_number']?>
			</td>
			<td class="cat_even">
				<form action="viewProduct.php?pID=<?=$_TPL['ID']?>" method="post" onsubmit="return checkInputs();" id="into_basket">
					<input name="pid" type="hidden" value="<?=$_TPL['ID']?>">
					<input name="action" type="hidden" value="into_basket">
					<input name="count" type="text" size="2" maxlength="3" value="1" id="count">
					<input type="submit" value="<?=$_LANG['into_basket']?>" class="button">
				</form>
			</td>			
		</tr>
		<tr>
			<td class="odd">
				&nbsp;
			</td>
			<td class="odd">
				<?=$_LANG['basket_vs_stock']?>
			</td>
		</tr>
	</table><br/>
	<br/>
	<table>
		<tr>
			<td class='errorbox'>
				<?
					if($_TPL['error']!=null){
						// Warenkorb bereits zu voll:
						if($_TPL['error']['count']>$_TPL['error']['stock']){
							echo 
								$_LANG['count>stock']." &bdquo;".$_TPL['error']['name']."&rdquo;.<br/>".
								$_TPL['error']['stock']." ".
								$_LANG['pieces_are_available']."<br/>".
								$_LANG['please_remove']
							;
						}
						// Produkt-Kapazität würde überschritten werden:
						elseif ($_TPL['error']['count']+$_TPL['error']['countTry']>$_TPL['error']['stock']){
							if($_TPL['error']['countTry']>$_TPL['error']['stock']){	// wenn Eingabe Stock überschreitet
								echo 
									$_LANG['countTry>stock']." ".
									$_TPL['error']['stock']." ".
									$_LANG['pieces_are_available']."<br/>".
									$_LANG['please_decrease']
								;
							}
							else{
								echo
									$_LANG['count+countTry>stock[1]']." ".
									$_TPL['error']['count'].
									$_LANG['count+countTry>stock[2]'].
									" &bdquo;".$_TPL['error']['name']."&rdquo;. ".
									$_LANG['count+countTry>stock[3]']." ".
									$_TPL['error']['countTry']." ".
									$_LANG['count+countTry>stock[4]']." ".
									$_TPL['error']['stock']."<br/>".
									$_LANG['count+countTry>stock[5]']
								;
							}
						}
					}
				?>
			</td>
		</tr>
	</table>
<script language="JavaScript">
	fields = new Array(new Array('count','posint'));
</script>
	
<? }
		else{
			echo"
				<table>
					<tr>
						<td class='error'>
							".$_LANG['no_permission']."<br/><br/>
							".$_LANG['try_to_refresh']."<br/><br/>
							<input type='button' class='button' value='".$_LANG['refresh_view']."' onclick='javascript:window.location.href=\"index.php\";'>
						</td>
					</tr>
				</table>
			";
		}
 ?>