<h1><?=$_LANG['viewProduct']?></h1>

<?
	// nur anzeigbar , falls aktiviert (gilt für jeden; Admin kann es mittels Edit einsehen)
	if($_TPL['active']=='1'){
?>
	<table class="content_table" cellpadding="0" cellspacing="0">
		<TR>
			<TD class="even">
				<?=$_LANG['name']?>
			</TD>
			<TD class="even">
				<?=$_TPL['name']?>
			</TD>
		</TR>
		<TR>
			<TD class="odd">
				<?=$_LANG['description']?>
			</TD>
			<TD class="odd">
				<?=$_TPL['description']?>
			</TD>
		</TR>
		<TR>
			<TD class="even">
				<?=$_LANG['image_small']?>
			</TD>
			<TD class="even">
				<? if ($_TPL['image_small']!='' && strtolower($_TPL['image_small'])!='kein bild') { ?>
					<img src="<?=$_TPL['image_small']?>">
				<? } ?>
			</TD>
		</TR>
		<TR>
			<TD class="odd">
				<?=$_LANG['image_big']?>
			</TD>
			<TD class="odd">
				<? if ($_TPL['image_big']!='' && strtolower($_TPL['image_big'])!='kein bild') { ?>
					<img src="<?=$_TPL['image_big']?>">
				<? } ?> TODO: evtl. nur Azeigbar, wenn Vorschau-Bild angeklickt
			</TD>
		</TR>
		<TR>
			<TD class="even">
				<?=$_LANG['price']?>
			</TD>
			<TD class="even">
				<?=formatPrice($_TPL['price'])?>
			</TD>
		</TR>
		<tr>
			<td class="cat_even">
				<?=$_LANG['piece_number']?>
			</td>
			<td class="cat_even">
				<form action="viewProduct.php?pID=<?=$_TPL['ID']?>" method="post" onsubmit="return checkInputs();" id="into_basket">
					<input name="pid" type="hidden" value="<?=$_TPL['ID']?>">
					<input name="action" type="hidden" value="into_basket">
					<input name="count" type="text" size="2" maxlength="3" value="1" id="count">
					<input type="submit" value="<?=$_LANG['into_basket']?>" class="button">
				</form>
			</td>			
		</tr>
		<tr>
			<td class="even">
				&nbsp;
			</td>
			<td class="even">
				<?=$_LANG['basket_vs_stock']?>
			</td>
		</tr>
	</table><br/>
	<br/>
	<table class='error' id='errorbox'>
		<tr>
			<td>
				<?
					if($_TPL['error']=='stock<count'){
						echo $_LANG['stock<count'];
					}
				?>
			</td>
		</tr>
	</table>
<script language="JavaScript">
	fields = new Array(new Array('count','posint'));
</script>
	
<? }
		else{
			echo"
				<table class='error'>
					<tr>
						<td>
							".$_LANG['no_permission']."
						</td>
					</tr>
				</table>
			";
		}
 ?>