
<table>
	<? if ($_TPL['parent']!=null) { ?>
		<TR>
			<TD>
				<a href="categories.php?catID=<?=$_TPL['parent']?>"><?=$_LANG['parentDirectory']?></a>
			</TD>
		</TR>
	<? } ?>
	<? foreach ($_TPL['menu'] as $line) { ?>
	<? if ($line['type']==='category') { ?>
		<TR>
			<TD>
				C
			</TD>
			<TD>
				<a href="categories.php?catID=<?=$line['id']?>">
					<?=$line['name']?>
				</a>
			</TD>
			<TD>
				<a href="addCategory.php?action=edit&catID=<?=$line['id']?>">
					<?=$_LANG['edit'] ?>
				</a>
			</TD>
			<TD>
				<a href="addCategory?action=delete&catID=<?=$line['id']?>">
					<?=$_LANG['delete'] ?>
				</a>
			</TD>
		
		</TR>
	<? } elseif ($line['type']==='product')  { ?>
		<TR>
			<TD>
				P
			</TD>
			<TD>
				<a href="products.php?pID=<?=$line['id']?>">
					<?=$line['name']?>
				</a>
			</TD>
			<TD>
				<a href="addProduct.php?action=edit&pID=<?=$line['id']?>">
					<?=$_LANG['edit'] ?>
				</a>
			</TD>
			<TD>
				<a href="addProduct.php?action=delete&pID=<?=$line['id']?>">
					<?=$_LANG['delete'] ?>
				</a>
			</TD>
		
		</TR>
	<? } ?>
	<? } ?>
	
	<TR>
		<TD colspan="4">
			<a href="addCategory.php?catID=<?=$_TPL['catID']?>"><?=$_LANG['addCategory'] ?></a>
			<a href="addProduct.php?catID=<?=$_TPL['catID']?>"><?=$_LANG['addProduct'] ?></a>
		</TD>
	</TR>

</table>




	
