<form action="editUser.php" method="post">
<input type="hidden" value="<?=$_TPL['action']?>" name="action">
<input type="hidden" value="<?=$_TPL['uID']?>" name="uID">

<table>
	<TR>
		<TD>
			<?=$_LANG['name']?>
		</TD>
		<TD>
			<input type="string" name="name" value="<?=$_TPL['name']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['lastname']?>
		</TD>
		<TD>
			<input type="string" name="lastname" value="<?=$_TPL['lastname']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['active']?>
		</TD>
		<TD>
			<? if (!$_TPL['role_id']=='1') { ?>
				<? if ($_TPL['active']=='1') { ?>
					<input type="checkbox" name="active" checked=checked>
				<? } else { ?>
					<input type="checkbox" name="active">
				<? } ?>
			<? } ?>
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['rolename']?>
		</TD>
		<TD>
			<select name="role_id">
			<? foreach ($_TPL['roleslist'] as $line) { ?>
				<? if ($line['id']==$_TPL['role_id']) { ?>
					<option value="<?=$line['id']?>" selected><?=$_LANG[$line['name']]?></option>
				<? } else { ?>
					<option value="<?=$line['id']?>"><?=$_LANG[$line['name']]?></option>
				<? } ?>
			<? } ?>
			</select>
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['email']?>
		</TD>
		<TD>
			<input type="string" name="email" value="<?=$_TPL['email']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['bill_name']?>
		</TD>
		<TD>
			<input type="string" name="bill_name" value="<?=$_TPL['bill_name']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['bill_street']?>
		</TD>
		<TD>
			<input type="string" name="bill_street" value="<?=$_TPL['bill_street']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['bill_postcode']?>
		</TD>
		<TD>
			<input type="string" name="bill_postcode" value="<?=$_TPL['bill_postcode']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['bill_city']?>
		</TD>
		<TD>
			<input type="string" name="bill_city" value="<?=$_TPL['bill_city']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['bill_state']?>
		</TD>
		<TD>
			<input type="string" name="bill_state" value="<?=$_TPL['bill_state']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['ship_name']?>
		</TD>
		<TD>
			<input type="string" name="ship_name" value="<?=$_TPL['ship_name']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['ship_street']?>
		</TD>
		<TD>
			<input type="string" name="ship_street" value="<?=$_TPL['ship_street']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['ship_postcode']?>
		</TD>
		<TD>
			<input type="string" name="ship_postcode" value="<?=$_TPL['ship_postcode']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['ship_city']?>
		</TD>
		<TD>
			<input type="string" name="ship_city" value="<?=$_TPL['ship_city']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['ship_state']?>
		</TD>
		<TD>
			<input type="string" name="ship_state" value="<?=$_TPL['ship_state']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['bank_number']?>
		</TD>
		<TD>
			<input type="string" name="bank_number" value="<?=$_TPL['bank_number']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['bank_iban']?>
		</TD>
		<TD>
			<input type="string" name="bank_iban" value="<?=$_TPL['bank_iban']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['bank_name']?>
		</TD>
		<TD>
			<input type="string" name="bank_name" value="<?=$_TPL['bank_name']?>">
		</TD>
	</TR>
	<TR>
		<TD>
			<?=$_LANG['bank_account']?>
		</TD>
		<TD>
			<input type="string" name="bank_account" value="<?=$_TPL['bank_account']?>">
		</TD>
	</TR>
	
	<TR>
		<TD colspan="2">
			<input type="submit" value="<?=$_LANG['submit']?>">
			<input type="reset" value="<?=$_LANG['reset']?>">
		</TD>
	</TR>
</table>
</form>