<h1><?=$_LANG['order-details']?> <?=$_TPL['orderid']?></h1>

<table class="content_table" cellpadding="0" cellspacing="0">

	<TR>
		<TD class="heading_cell">
			<?=$_LANG['order-date']?>
		</TD>
		<TD class="heading_cell">
			<?=$_LANG['shipping-date']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_TPL['orderDate']?>
		</TD>
		<TD class="odd" id="sd">
			<? if ($_TPL['shippingDate']=='' && $_TPL['can_change']==1) { ?>
				<input type="button" value="<?=$_LANG['ordershipped']?>" onclick="javascript:setShippingDate('<?=$_TPL['orderid']?>');" id="sdb">
			<? } else { ?>
				<?=$_TPL['shippingDate']?>
			<? } ?>
		</TD>
	</TR>
</table>
<br />
<table class="content_table" cellpadding="0" cellspacing="0">

	<TR>
		<TD class="chapter_heading" colspan="4">
			<?=$_LANG['products']?>
		</TD>
	</TR>
	<TR>
		<TD class="heading_cell">
			<?=$_LANG['count']?>
		</TD>
		<TD class="heading_cell">
			<?=$_LANG['name']?>
		</TD>
		<TD class="heading_cell">
			<?=$_LANG['price']?>
		</TD>
		<TD class="heading_cell">
			<?=$_LANG['price-total']?>
		</TD>
	</TR>
	
	<? $i=0;foreach ($_TPL['items'] as $line) { ?>
	<? $i++;if ($i%2==0) {$class="even";} else {$class="odd";} ?>
	<TR>
		<TD class="<?=$class?>">
			<?=$line['count']?>x
		</TD>
		<TD class="<?=$class?>">
			<a href="viewProduct.php?pID=<?=$line['id']?>" class="menu">
				<?=$line['name']?>
			</a>
		</TD>
		<TD class="<?=$class?>">
			<?=formatPrice($line['price'])?>
		</TD>
		<TD class="<?=$class?>">
			<?=formatPrice($line['price_total'])?>
		</TD>
		
	</TR>
	<? } ?>
	
	<TR>
		<TD class="price-all" colspan="3">
			<?=$_LANG['price-total']?>
		</TD>
		<TD class="price-all">
			<?=formatPrice($_TPL['price_all'])?>
		</TD>
	</TR>
</table>
<br >
<table class="content_table" cellpadding="0" cellspacing="0">

	<TR>
		<TD class="chapter_heading" colspan="2">
			<?=$_LANG['user']?>
		</TD>
	</TR>
	<TR>
		<TD colspan="2">
			<a href="viewUser.php?uID=<?=$_TPL['user_id']?>" class="menu">
				<?=$_TPL['user']['name']?> <?=$_TPL['user']['lastname']?>
			</a>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['bill_name']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['bill_name']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['bill_street']?>
		</TD>
		<TD class="even">
			<?=$_TPL['bill_street']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['bill_postcode']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['bill_postcode']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['bill_city']?>
		</TD>
		<TD class="even">
			<?=$_TPL['bill_city']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['bill_state']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['bill_state']?>
		</TD>
	</TR>
	<TR>
		<TD class="chapter_heading" colspan="2">
			<?=$_LANG['ship-data']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['ship_name']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['ship_name']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['ship_street']?>
		</TD>
		<TD class="even">
			<?=$_TPL['ship_street']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['ship_postcode']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['ship_postcode']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['ship_city']?>
		</TD>
		<TD class="even">
			<?=$_TPL['ship_city']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['ship_state']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['ship_state']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['bank_number']?>
		</TD>
		<TD class="even">
			<?=$_TPL['bank_number']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['bank_iban']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['bank_iban']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['bank_name']?>
		</TD>
		<TD class="even">
			<?=$_TPL['bank_name']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['bank_account']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['bank_account']?>
		</TD>
	</TR>
	
</TABLE>