<h1><?=$_LANG['viewUser']?></h1>

<table class="content_table" cellpadding="0" cellspacing="0">
	<TR>
		<TD class="chapter_heading" colspan="2">
			<?=$_LANG['user-data']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['name']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['name']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['lastname']?>
		</TD>
		<TD class="even">
			<?=$_TPL['lastname']?>
		</TD>
	</tr>
	<TR>
		<TD class="odd">
			<?=$_LANG['email']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['email']?>
		</TD>
	</TR>
	<TR>
		<TD class="chapter_heading" colspan="2">
			<?=$_LANG['bill-data']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['bill_name']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['bill_name']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['bill_street']?>
		</TD>
		<TD class="even">
			<?=$_TPL['bill_street']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['bill_postcode']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['bill_postcode']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['bill_city']?>
		</TD>
		<TD class="even">
			<?=$_TPL['bill_city']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['bill_state']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['bill_state']?>
		</TD>
	</TR>
	<TR>
		<TD class="chapter_heading" colspan="2">
			<?=$_LANG['ship-data']?>
		</TD>
	</TR>

	<TR>
		<TD class="odd">
			<?=$_LANG['ship_name']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['ship_name']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['ship_street']?>
		</TD>
		<TD class="even">
			<?=$_TPL['ship_street']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['ship_postcode']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['ship_postcode']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['ship_city']?>
		</TD>
		<TD class="even">
			<?=$_TPL['ship_city']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['ship_state']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['ship_state']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['bank_number']?>
		</TD>
		<TD class="even">
			<?=$_TPL['bank_number']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['bank_iban']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['bank_iban']?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['bank_name']?>
		</TD>
		<TD class="even">
			<?=$_TPL['bank_name']?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['bank_account']?>
		</TD>
		<TD class="odd">
			<?=$_TPL['bank_account']?>
		</TD>
	</TR>
	
</table>
