<h1><?=$_LANG['viewProduct']?></h1>

<?
	// Nur Orderer und Admin dürfen gelöschte oder deaktivierte Produkte sehen.
	
	if(($_TPL['active']=='1' && $_TPL['deleted']=='0') || $_TPL['is_admin']=='1' || $_TPL['is_orderer'] == '1'){
?>
	<table class="content_table" cellpadding="0" cellspacing="0">
    <colgroup>
      <col class="content_table_1">
      <col class="content_table_2">
    </colgroup>	<?
		if($_TPL['active']=='0' || $_TPL['deleted']=='1'){
			echo"
				<tr>
					<td class='caution' colspan='2'>
						<br/>
						".$_LANG['caution'].":<br/><br/>
						".($_TPL['active']=='0'?$_LANG['is_deactivated']:'').($_TPL['active']=='0' && $_TPL['deleted']=='1'?"<br/>":"").
						($_TPL['deleted']=='1'?$_LANG['is_deleted']:'')."
						<br/><br/>
					</td>
				</tr>
			";
		}
	?>
		<TR>
			<TD class="even">
				<?=$_LANG['name']?>
			</TD>
			<TD class="even">
				<?=$_TPL['name']?>
			</TD>
		</TR>
		<TR>
			<TD class="odd">
				<?=$_LANG['description']?>
			</TD>
			<TD class="odd">
				<?=$_TPL['description']?>
			</TD>
		</TR>
		<TR>
			<TD class="even">
				<?=$_LANG['stock']?>
			</TD>
			<TD class="even">
				<?=$_TPL['stock']?>
			</TD>
		</TR>
		<TR>
			<TD class="odd">
				<?
					echo $_LANG['product_image'];
					if ($_TPL['image_small']!='' && strtolower($_TPL['image_small'])!='kein bild' && $_TPL['image_big']!='' && strtolower($_TPL['image_big'])!='kein bild') { 
						echo "<br/><br/>(".$_LANG['click_to_enlarge'].")";
					}
				?>
			</TD>
			<TD class="odd">
				<? if ($_TPL['image_small']!='' && strtolower($_TPL['image_small'])!='kein bild' && $_TPL['image_big']!='' && strtolower($_TPL['image_big'])!='kein bild') { ?>
					<a href="javascript:showPicture('<?=$_TPL['image_big']?>');" title="<?=$_LANG['click_to_enlarge']?>"><img src="<?=$_TPL['image_small']?>" border='0'></a>
				<? 
					}
					elseif($_TPL['image_small']!='' && strtolower($_TPL['image_small'])!='kein bild'){?>
						<img src="<?=$_TPL['image_small']?>" border='0'>
					<?
					}
					else{
						echo $_LANG['no_image'];
					}
				 ?>
			</TD>
		</TR>
		<TR>
			<TD class="even">
				<?=$_LANG['price']?>
			</TD>
			<TD class="even">
				<?=formatPrice($_TPL['price'])?>
			</TD>
		</TR>
	</table>
<? }
		else{
			echo"
				<table class='error'>
					<tr>
						<td>
							".$_LANG['no_permission']."
						</td>
					</tr>
				</table>
			";
		}
 ?>