<h1><?=$_LANG['editCategorie']?></h1>

<form action="addCategory.php" method="post">
<input type="hidden" value="<?=$_TPL['action']?>" name="action">
<input type="hidden" value="<?=$_TPL['catID']?>" name="catID">
<input type="hidden" value="<?=$_TPL['parent']?>" name="parent">

<table class="content_table" cellpadding="0" cellspacing="0">
	<TR>
		<TD class="even">
			<?=$_LANG['name']?>
		</TD>
		<TD class="even">
			<input type="string" name="name" value="<?=$_TPL['name']?>" class="string" onblur="javascript:checkInput(this,'string');">
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['description']?>
		</TD>
		<TD class="odd">
			<textarea name="description" onblur="javascript:checkInput(this,'string');"><?=$_TPL['description']?></textarea>
		</TD>
	</TR>
		<TR>
		<TD class="even">
			<?=$_LANG['sort_order']?>
		</TD>
		<TD class="even">
			<input type="string" name="sort_order" value="<?=$_TPL['sort_order']?>" class="string" onblur="javascript:checkInput(this,'int');">
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['active']?>
		</TD>
		<TD class="odd">
			<? if ($_TPL['active']=='1') { ?>
				<input type="checkbox" name="active" checked="checked" class="checkbox">
			<? } else { ?>
				<input type="checkbox" name="active" class="checkbox">
			<? } ?>
		</TD>
	</TR>
	<? if ($_TPL['error']!='') { ?>
	<TR>
		<TD class="errorbox" colspan="2">
			<?=$_LANG[$_TPL['error']]?>
		</TD>
	</TR>
	<? } ?>
	<TR>
		<TD colspan="2" class="optionbox">
			<input type="submit" value="<?=$_LANG['submit']?>" class="button">
			<input type="button" value="<?=$_LANG['reset']?>" class="button" onclick="javascript:history.back();">
		</TD>
	</TR>
</table>
</form>