<h1><?=$_LANG['editProduct']?></h1>

<form action="addProduct.php" method="post" enctype="multipart/form-data">
<input type="hidden" value="<?=$_TPL['action']?>" name="action">
<input type="hidden" value="<?=$_TPL['ID']?>" name="ID">

<table class="content_table" cellpadding="0" cellspacing="0">
	<TR>
		<TD class="even">
			<?=$_LANG['name']?>
		</TD>
		<TD class="even">
			<input type="string" name="name" value="<?=$_TPL['name']?>" class="string">
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['description']?>
		</TD>
		<TD class="odd">
			<textarea name="description"><?=$_TPL['description']?></textarea>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['sort_order']?>
		</TD>
		<TD class="even">
			<input type="string" name="sort_order" value="<?=$_TPL['sort_order']?>" class="string">
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['active']?>
		</TD>
		<TD class="odd">
			<? if ($_TPL['active']=='1') { ?>
				<input type="checkbox" name="active" checked=checked class="checkbox">
			<? } else { ?>
				<input type="checkbox" name="active" class="checkbox">
			<? } ?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['image_small']?>
		</TD>
		<TD class="even">
			<input type="file" name="image_small">
			<? if ($_TPL['image_small']!='') { ?>
				<a href="<?=$_TPL['image_small']?>" class="menu">
					<?$_LANG['view']?>
				</a>
			<? } ?>
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['image_big']?>
		</TD>
		<TD class="odd">
			<input type="file" name="image_big">
			<? if ($_TPL['image_big']!='') { ?>
				<a href="<?=$_TPL['image_big']?>" class="menu">
					<?$_LANG['view']?>
				</a>
			<? } ?>
		</TD>
	</TR>
	<TR>
		<TD class="even">
			<?=$_LANG['stock']?>
		</TD>
		<TD class="even">
			<input type="string" name="stock" value="<?=$_TPL['stock']?>" class="string">
		</TD>
	</TR>
	<TR>
		<TD class="odd">
			<?=$_LANG['price']?>
		</TD>
		<TD class="odd">
			<input type="string" name="price" value="<?=$_TPL['price']?>" class="string">
		</TD>
	</TR>
	<? if ($_TPL['error']!='') { ?>
	<TR>
		<TD class="errorbox" colspan="2">
			<?=$_LANG[$_TPL['error']]?>
		</TD>
	</TR>
	<? } ?>
	<TR>
		<TD colspan="2" class="optionbox">
			<? if ($_TPL['deleted']!=1) { ?>
				<input type="submit" value="<?=$_LANG['submit']?>" class="button">
			<? } else { ?>
				<input type="submit" value="<?=$_LANG['submit']?>" class="button" disabled="true">
			<? } ?>
			<input type="button" value="<?=$_LANG['reset']?>" class="button" onclick="javascript:history.back();">
		</TD>
	</TR>
</table>
</form>