<!-- Titel-Frame -->

<? include('../lang/lang_de.php');
   $LANG = $lang['admin_title']; ?>

<table class="title_table">
	<TR>
		<TD>
			<a href="../viewer/index.php"><img src="<?=$LANG['title_img']?>"></a>
		</TD>
	</TR>
	<TR>
		<TD>
			<? 
				echo 
					$LANG['hello'].$_TPL['user_name']." ".$_TPL['user_lastname']."!
					<span style='position:relative; left: 50px;'>
						".$LANG['you_are_administrator']."
					</span><span style='position:relative; left: 100px;'>
						<a href='../user/categories.php'>".$LANG['user_level']."</a>
					</span><span style='position:relative; left: 150px;'>
						<a href='../viewer/categories.php'>".$LANG['viewer_level']."</a>
					</span>
				";
			?> 
		</TD>
	</TR>
</table>